{% extends 'school/teacherbase.html' %}

{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h2 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Welcome, {{ teacher.user.first_name }}!</h2>
      </div>
      <div class="panel-body">
        <p>Your Assigned Class: {{ assigned_class }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}